<launch>
  <arg 
    name="teleop"
    default="1"
  />
  <include
    file="$(find agitr_chapter6-master)/launch/teleopturtlesim.launch"
  />
  <node if="$(eval teleop == 1)"
    pkg="agitr_chapter3"
    type="pubvel"
    name="publish_velocity"
    required="true"
    launch-prefix="xterm -e"
  />
</launch>
<!-- 
  Commnent here
  
-->